<div class="container-fluid root">
  <div class="row">
    <div class="col">Banner</div>
  </div>
  
  <div class="row">
    
    <div class="col filter-form-container">
        <div class="custom-control custom-checkbox">
            <input (change)="handleStatusCheckBoxChange($event)" type="checkbox" class="custom-control-input" id="enTransitoCheckBox">
            <label class="custom-control-label" for="enTransitoCheckBox">En tránsito</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input (change)="handleStatusCheckBoxChange($event)" type="checkbox" class="custom-control-input" id="cargandoCheckBox">
            <label class="custom-control-label" for="cargandoCheckBox">Cargando</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input (change)="handleStatusCheckBoxChange($event)" type="checkbox" class="custom-control-input" id="detenidoCheckBox">
            <label class="custom-control-label" for="detenidoCheckBox">Detenido</label>
        </div>
    </div>

    <div class="col">

      <table class="table">
        <thead class="table-header">
          <tr>
            <th scope="col">Estado</th>
            <th scope="col">Carga</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora de salida</th>
            <th scope="col">Hora de llegada</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trip of (TRIPS | filterTripsByStatus:selected_status)">
            <td>{{trip.status}}</td>
            <td>{{trip.shipment}}</td>
            <td>{{trip.date}}</td>
            <td>{{trip.departure_time}}</td>
            <td>{{trip.arrival_time}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>


