.title{
    padding-left: 2%;
}

.background-div{
    padding-left: 5%;
}

.label{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

input:focus{
    box-shadow: 0 0 5px #800000 !important;
    border-color: #800000;
}

.input{
    max-width: 80%;
}

.submit-button{
    background-color: #800000;
    border-color: #800000;
    margin-right: 10px;
}

.label-div{
    width: 90px;
}