nav {
    background: rgb(106, 15, 18);
}

.nav-text {
    color: white !important;
}

.logo {
    height: 80px;
}

.logout {
    border: transparent;
    background: transparent
}

.logout > img {
    width: 30px;
}