.toolbar{
  height: 12%;
 
}
.content{
  height: 88%
}
.content2{
  height: 100%;
  
}

.sidenav{

  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  width: 240px;
}
.toolbar-content{
  height: 100%;
  
}
.row1{
  background-color: rgb(128, 0, 0);
  height: 100%;
  text-decoration: none;
 /* box-shadow:  1px 2px 7px 0px rgba(0,0,0,0.2);*/
  z-index: 2;
  

}
.row2{
  background-color: rgb(100, 0, 0);

}
.example-icon {
  padding: 0 14px;
}
  
.example-spacer {
  flex: 1 1 auto;
  
}

.logo{
  padding-top: 10px;
  text-decoration: none;
  outline: none;
  
  
}
.mat-list-base{
  padding: 10px;
}
.toogle-navbar{
  outline:none;
}

span:focus{
  border-color: rgb(128, 0, 0);
  text-decoration: none;
}


a {
  text-decoration:none;

}

a:hover {
  color: white;
  background-color:  rgb(100, 0, 0);

}

.user-menu:focus{
  outline: none;
}

.list a{
  margin-bottom: 10px;
  border-radius: 3px;
  color: #3C4858;
  font-size: 14px;
}

.active-link{
  color:  white !important;
  background-color: rgb(128, 0, 0, 0.9) !important;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}


.list a:hover { 
  color: black;
  background-color: lightgrey;
}

.list a:active{
  color:  white;
  background-color: rgb(128, 0, 0);
  
}
.list a:focus{
  color:  white;
  background-color: rgb(128, 0, 0);
  
}


.content2 mat-icon{
  margin-right: 20px;
}

.copyright{
  position: absolute;
  width: 100%;
  bottom: 3px;
  text-align:center;
  
}
.copyright>span{
  display:inline-block;
		vertical-align:middle;
		line-height:normal;
}

::ng-deep .mat-menu-panel {
  max-width: 400px !important;
}

.desc{
  width: 100%;
}
.item{
  width: 100%;
}
.block{
  text-align: center;
  padding-left: 5px;
  color: white;
  min-width: 170px;
  float: left;
  border-radius: 7px;
}
.info{
  
  background: rgb(78, 78, 78);
  
}
.warning{
  background: rgb(197, 6, 6);
}
/*
Yellow color to notification icon
.notify{
  color: rgb(206, 206, 14);
}*/
.containerNotifications{
  max-height: 370px;
  overflow: auto;
}
.iconClock{
  font-size: 13px;
  height: 16px;
  width: 16px;
}
.time{
  text-align:start;
  color: rgb(165, 165, 165);
}
mat-list-item-content{
  padding: 0 !important;
}
.container{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.infoRow{
  font-size: 12px;
  min-width: 350px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  height: 55px;
  margin-bottom: 12px;
  border-bottom-color: rgb(59, 57, 57);
  border-bottom-width: 1px;
}
.description{
  padding-top: 8px;
  padding-bottom: 5px;
}
.textWarn{
  color: rgb(160, 1, 1);
  font-size: 13px;
}
.separator{
  border-bottom: 1px solid #d8d7d7;
  padding: 1px;
}