<h3>
  Detalles del productor
</h3>

<hr>

<mat-dialog-content>
    <form [formGroup]="producerForm">
        <div>
            <div>
                <mat-form-field appearance="standard" class="input">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" maxlength="30">
                </mat-form-field>
            </div>
    
            <div>
                <mat-form-field appearance="standard" class="input">
                    <mat-label>RUT</mat-label>
                    <input matInput formControlName="rut" maxlength="10">
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<hr>

<div class="action-buttons">
    <div class="button-div">
        <button mat-raised-button (click)="onSubmit()">Aceptar</button>
    </div>
    
    <div class="button-div">
        <button mat-raised-button (click)="onNoClick()">Cancelar</button>
    </div>
</div>
