
<div class="container pt-5" >

    <h3>
        Registrar Chofer
      </h3>
      <hr>

    <form>
        <div class="form-group row">
            <label for="inputRun" class="col-sm-2 col-form-label">R.U.N</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputRun" placeholder="11.111.111-1">
            </div>
          </div>
      <div class="form-group row">
          <label for="inputNameDriver" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputNameDriver" placeholder="Nombre">
          </div>
        </div>

      <div class="form-group row">
          <label for="inputSurnameDriver1" class="col-sm-2 col-form-label">Apellido paterno</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputSurnameDriver1" placeholder="Apellido paterno">
          </div>
        </div>

      <div class="form-group row">
          <label for="inputSurnameDriver2" class="col-sm-2 col-form-label">Apellido materno</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputSurnameDriver2" placeholder="Apellido materno">
          </div>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Celular</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="phone" placeholder="Celular">
            </div>
          </div>

      <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-8 ">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>

      <div class="form-group">
        <div class="">
              <button type="button" class="btn btn-secondary btn-space">Cancelar</button>
              <button type="submit" class="btn btn-primary btn-space submit-button">Registrar</button>

        </div>
      </div>
    </form>
 
</div>
