form{
    padding-left: 5%;
}
h2{
    padding-left: 15px;
}

button{
    background: rgb(128, 0, 0);
    border-color: rgb(146, 0, 0);  
    color:white;
    margin-top: 5px;

}
#registrar{
    width: 120px;
}
#cancelar{
    width: 90px;
    margin-right: 7px;
}
#btns{
    position: relative;
    left: 25%;
}
input:focus{
    box-shadow: 0 0 5px #800000 !important;
    border-color: #800000;
}
#confirmPassword{
    margin-top: 13px;
}