<app-navbar></app-navbar>

<h2> Crear Cuenta </h2>
<hr> 
<div class="form-group">
<form class="form-horizontal">  
    <div class="form-group row">
        <label class="col-sm-1 col-form-label"  for="names">Nombres</label>
        <div class="col-sm-4">
            <input class="form-control" id="names" placeholder="">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label" >Apellidos</label>
        <div class="col-sm-4">
            <input id="lastNames" class="form-control" placeholder="">
        </div>
    </div>
    <div class="form-group row">
            <label class="col-sm-1 col-form-label" >RUN</label>
            <div class="col-sm-4">
            <input class="form-control"  id="run" placeholder="">
        </div>
    </div>
    <div class="form-group row">
            <label class="col-sm-1 col-form-label"  >Email</label>
            <div class="col-sm-4">
            <input class="form-control"  type ="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            title="Ingrese un correo válido"
            placeholder="Ej: correo@patacon.cl">
        </div>
    </div>
    <div class="form-group row">
            <label class="col-sm-1 col-form-label" >Rol</label>
            <div class="col-sm-4">
            <input class="form-control" id="rol" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Contraseña</label>
        <div class="col-sm-4">
        <input class="form-control"  type="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
        title="Debe tener una mayúscula, un número y al menos 8 caracteres">
    </div>
    </div>
    <div class="form-group row">
            <label class="col-sm-1 col-form-label" >Confirme Contraseña</label>
            <div class="col-sm-4">
            <input class="form-control"  type="password" id="confirmPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
            title="Debe tener una mayúscula, un número y al menos 8 caracteres">
            </div>
    </div>
    <div class="form-group row" id="btns">
        <button type="button" id="cancelar" class="btn btn-success">Cancelar</button>
        <button type="button" id="registrar"class="btn btn-success">Registrar</button>
    </div>
</form>
</div>  