<div>
    <h2 mat-dialog-title>Editar Camión</h2>
    <hr />
    <mat-dialog-content>
      <form [formGroup]="editTruckForm" class="example-form">
        <div class="container">
          <mat-form-field appearance="standard">
            <mat-label>Patente</mat-label>
            <input matInput placeholder="" formControlName="licencePlate" />
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
  
        <div class="container">
          <mat-form-field appearance="standard">
            <mat-label>Marca</mat-label>
            <input matInput placeholder="" formControlName="brand" />
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>

        <div class="container">
        <mat-form-field class="example-full-width">
          <input formControlName="driverReference" type="text" placeholder="Asigne un chofer" aria-label="Chofer" matInput
            [matAutocomplete]="driverAuto">
          <mat-autocomplete  [displayWith]="driverToDisplayableString" #driverAuto="matAutocomplete">
            <mat-option *ngFor="let driverOption of driverFilteredOptions | async" [value]="driverOption">
              {{driverToDisplayableString(driverOption)}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="editTruckForm.controls['driverReference'].hasError('incorrect')">
            Seleccione una opción válida del listado
          </mat-error>
        </mat-form-field>
        </div> 
  
        <div class="container">
        <mat-form-field class="example-full-width">
          <input formControlName="gpsReference" type="text" placeholder="Asigne un gps" aria-label="Number" matInput
            [matAutocomplete]="gpsAuto">
          <mat-autocomplete [displayWith]="gpsToDisplayableString" #gpsAuto="matAutocomplete">
            <mat-option *ngFor="let gpsOption of gpsFilteredOptions | async" [value]="gpsOption">
              {{gpsToDisplayableString(gpsOption)}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="editTruckForm.controls['gpsReference'].hasError('incorrect')">
            Seleccione una opción válida del listado
          </mat-error>
        </mat-form-field>
        </div>
  
        <div class="container">
          <mat-form-field appearance="standard">
            <mat-label>Model</mat-label>
            <input matInput placeholder="" formControlName="model" />
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
  
        <div class="container">
          <mat-form-field appearance="standard">
            <mat-label>Año</mat-label>
            <input matInput placeholder="" formControlName="year"/>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
  
        <div class="container">
          <mat-form-field appearance="standard">
            <mat-label>Carga Máxima</mat-label>
            <input matInput placeholder="" formControlName="maxLoad"/>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
        <div class="container">
          <mat-form-field appearance="standard">
            <mat-label>Dueño</mat-label>
            <input matInput placeholder="" formControlName="owner"/>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
        <div class="container">
          <mat-form-field appearance="standard">
            <mat-label>Color</mat-label>
            <input matInput placeholder="" formControlName="color"/>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
      </form>
    </mat-dialog-content>
    <hr />
    <mat-dialog-actions>
      <button mat-raised-button (click)="onCloseConfirm()" [disabled]="editTruckForm.invalid">Editar</button>
      <button mat-raised-button (click)="onCloseCancel()">Cancelar</button>
    </mat-dialog-actions>
</div>