.card{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    border-radius: 50%;
    max-width: 100px;
    max-height: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
.identification{
    text-align: center;
}
.header{
    display:flex;
}
.title{
    font-size: 22px;
}
.info,.row{
    width: 100%;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.container > * {
    width: 100% !important;
  }
.containerBtnPass{
    display:flex;
    justify-content: right;
}
.separator{
    border-left: 1px solid #c4c4c4;
    height: auto;
}
.editContent{
    
    padding-left: 20px;
}
.restorePass{
    height: auto;
    width: 100%;
}
@media (max-width: 991px) { 
    .editContent,.restorePass{
        border-top: 1px solid #c4c4c4;
        margin-top:20px;
        padding-top: 20px;
    }
    .titleData,.titlePass{
        text-align: center;
        font-size: 18px;
        padding-bottom: 10px;
    }

    #inputData{
        width: 200px;
    }
    .restorePass{
        padding-left:0;
    }
}

#input2{
    width: 200px;
}

.buttonData{
    padding-left: 15px;
}


