<div class="list-container" fxLayout="column" fxLayoutGap="10px">

  <div fxLayout="row" fxFlex="50" align-items>
    <div fxFlex="70">
      <button mat-raised-button (click)="openRegisterDispatchDialog()">
        <mat-icon>add</mat-icon>
        Agregar despacho
      </button>
    </div>
    <div fxFlex="30" class="container">

      <mat-form-field>
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>

    </div>
  </div>


  <div fxFlex="50">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>


      <!-- Driver -->
      <ng-container matColumnDef="driver">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Chofer </th>
        <td mat-cell *matCellDef="let element"> {{element.driverReference}} </td>
      </ng-container>

      <!-- Kilograms -->
      <ng-container matColumnDef="shippedKilograms">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Kilos transportados </th>
        <td mat-cell *matCellDef="let element"> {{element.shippedKilograms}} </td>
      </ng-container>

      <!-- Fecha de ida -->
      <ng-container matColumnDef="arrivalAtVineyardDatetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha y hora de ida </th>
        <td mat-cell *matCellDef="let element">
          {{ (element.arrivalAtVineyardDate + ' ' + element.arrivalAtVineyardTime) | date:dateFormat}} </td>
      </ng-container>

      <!-- Fecha de vuelta -->
      <ng-container matColumnDef="arrivalAtPataconDatetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha y hora de vuelta </th>
        <td mat-cell *matCellDef="let element">
          {{(element.arrivalAtPataconDate + ' ' + element.arrivalAtPataconTime) | date:dateFormat }} </td>
      </ng-container>


      <!-- options-->
      <ng-container matColumnDef="options">
        <th mat-header-cell class="custom-mat-header" *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="$event.stopPropagation();" mat-icon-button [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">

            

            <button mat-menu-item *ngIf="!isDispatchTerminated(element)" (click)="sendSMS(element.id);">
              <mat-icon svgIcon="sendSMS"></mat-icon>
              <span>Notificar productor</span>
            </button>

            <button mat-menu-item *ngIf="element.status.localeCompare('Pendiente') == 0" (click)="startDispatch(element.id)">
              <mat-icon svgIcon="startDispatch"></mat-icon>
              <span>Comenzar</span>
            </button>

            <button mat-menu-item *ngIf="!isDispatchTerminated(element)" (click)="cancelDispatch(element.dispatchId)">
              <mat-icon svgIcon="cancelDispatch"></mat-icon>
              <span>Cancelar</span>
            </button>

            <button mat-menu-item *ngIf="!isDispatchTerminated(element)" (click)="terminateDispatch(element.dispatchId)">
              <mat-icon svgIcon="terminateDispatch"></mat-icon>
              <span>Terminar</span>
            </button>


            <button mat-menu-item (click)="openDispatchDetailsDialog(element);">
              <mat-icon svgIcon="details"></mat-icon>
              <span>Detalles</span>
            </button>

            <button mat-menu-item *ngIf="element.status.localeCompare('Pendiente') == 0" [disabled]="isDispatchTerminated(element)" (click)="openEditDispatchDialog(element)">
              <mat-icon svgIcon="edit"></mat-icon>
              <span>Editar</span>
            </button>

            <button mat-menu-item *ngIf="isDispatchTerminated(element)" (click)="deleteDispatch(element.id)">
              <mat-icon svgIcon="delete"></mat-icon>
              <span>Eliminar</span>
            </button>

          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!--Progress spinner -->
    <mat-card *ngIf="isDataLoading" style="display: flex; justify-content: center; align-items: center">
      <mat-progress-spinner color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </mat-card>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[10, 15, 20, 30, 50]" class="mat-elevation-z8">
    </mat-paginator>

  </div>

</div>