<div class="container-fluid">
  <div class="abs-center">
    <mat-card>
      <mat-card-header class="header">
        <div class="logo">
            <img mat-card-image src="../../../../assets/images/LogoProvisorio.png" id="logo" />
        </div>
        
      </mat-card-header>
      <mat-card-content>
        <div class="content">
          <mat-horizontal-stepper [linear]="true" #stepper [selectedIndex]="this.selectedIndex"
            (selectionChange)="selectionChange($event)">
            <mat-step [completed]="false" label="Ingrese su correo electronico" [stepControl]="getEmailForm"
              [editable]=false>
              <div>
                <form [formGroup]="getEmailForm">
                  Ingresar correo:<br>
                  <input matInput placeholder="" formControlName="email" required />
                  <!--
                        <mat-error *ngIf="email.errors.email">Debe ingresar un correo existente</mat-error>
                        -->
                </form>
              </div>
              <div>
                <button mat-button (click)="comprobateIfUserExists()">Enviar correo</button>
              </div>
            </mat-step>
            <mat-step [completed]="false" label="Verificacion y cambio de contraseña"
              [stepControl]="getVerCodeAndNewPasswordForm" [editable]=false>
              <div>
                <form [formGroup]="getVerCodeAndNewPasswordForm">
                  Ingresar Codigo de Verificacion:<br>
                  <input type="text" formControlName="verCode" required><br>
                  Ingresar Nueva Contraseña:<br>
                  <input type="password" formControlName="newPassword" required><br>
                  Repetir Nueva Contraseña:<br>
                  <input type="password" formControlName="newPasswordRepeated" required><br>

                </form>
              </div>
              <div>
                <!--(click)="insertNewPassword()"-->
                <button mat-button (click)="changePassword()">Cambiar contraseña</button>
              </div>
            </mat-step>

          </mat-horizontal-stepper>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>