<head>
    <title>Pantalla para reestablecer password</title>
</head>
  
  <body>
  <mat-vertical-stepper>
    <mat-step label="mailReset" [stepControl]="getEmailForm">
      <div><form [formGroup]="getEmailForm">
          Ingresar correo:<br>
          <input matInput placeholder="" formControlName="email"/>
      </form></div>
      <div>
          <button mat-button matStepperNext (click)="generateCode()">Next</button>
      </div>
    </mat-step>
    <mat-step label="codeReset" [stepControl]="getVerCodeForm">
      <div><form [formGroup]="getVerCodeForm">
          Ingresar Codigo de Verificacion:<br>
          <input type="text" name="verCode">
      </form></div>
      <div>
          <button mat-button matStepperNext (click)="comprobationOfCode()">Next</button>
      </div>
    </mat-step>
    <mat-step label="passwordReset" [stepControl]="getNewPasswordForm">
        <div><form [formGroup]="getNewPasswordForm">
            Ingresar Nueva Contraseña:<br>
            <input type="text" name="newPassword"><br>
            Repetir Nueva Contraseña:<br>
            <input type="text" name="repeatNewPassword">
        </form></div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
  </mat-vertical-stepper>
</body>
      <!--
      <form [formGroup]="getEmailForm">
      Ingresar correo:<br>
      <input type="text" name="email">
        <input matInput placeholder="" formControlName="email" /> 
    <mat-dialog-actions>
      Acá cambiar el metodo continuar() por el sendMail()
        <button mat-raised-button (click)="goToResetPassword2()">Continuar</button>
      </mat-dialog-actions>
        
      <br>
    </form>
  -->
  <a href="#/login" class="restore" onClick="backToLogin()">Volver a Login</a>
  <!--
    <a href="#/login" class="restore" onClick="backToLogin()">Volver a Login</a>
  -->