@media (max-width: 650px) {
    .fondo {
        background:url("../../../../assets/images/testResponsive.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.row1{
    background-color: rgb(128, 0, 0);
    height: 100%;
    text-decoration: none;
   /* box-shadow:  1px 2px 7px 0px rgba(0,0,0,0.2);*/
    z-index: 2;
    
  
  }

label{
    font-size: 14px;

}
.full{
    font-size: 14px;
    min-width: 50px;
    max-width: 270px;
    width: 100%;
}
#header{
    padding-top: 10px;
    background: rgba(128, 0, 0) !important;
    position: absolute;
    top: 0;
    left:0;
    margin-bottom: 420px;
}
#logo{
    margin-top: 0px;
    margin-left: -20px;
    width:75%; 
    height:30%; 
}
.body{
    margin-top:10px;
}