<head>
    <title>Pantalla para reestablecer password</title>
</head>
  
  <body>
  <mat-horizontal-stepper [linear]="false" #stepper 
  [selectedIndex]="this.selectedIndex" 
  (selectionChange)="selectionChange($event)">
    <mat-step [completed]="false" label="Ingrese su correo electronico" [stepControl]="getEmailForm" [editable]=false>
      <div><form [formGroup]="getEmailForm">
          Ingresar correo:<br>
          <input matInput placeholder="" formControlName="email"/>
          <!--
          <mat-error *ngIf="email.errors.email">Debe ingresar un correo existente</mat-error>
          -->
      </form></div>
      <div>
          <button mat-button (click)="comprobateIfUserExists()">Enviar correo</button>
      </div>
    </mat-step>
    <mat-step label="Verificacion y cambio de contraseña" [stepControl]="getVerCodeAndNewPasswordForm" [editable]=false>
      <div><form [formGroup]="getVerCodeAndNewPasswordForm">
          Ingresar Codigo de Verificacion:<br>
          <input type="text" formControlName="verCode"><br>
          Ingresar Nueva Contraseña:<br>
          <input type="password" formControlName="newPassword"><br>
          Repetir Nueva Contraseña:<br>
          <input type="password" formControlName="newPasswordRepeated"><br>
          <!--
            [disabled]="getEmailForm.invalid"
          <input type="password" name="repeatNewPassword"><br>
          -->
      </form></div>
      <div>
          <!--(click)="insertNewPassword()"-->
          <button mat-button (click)="comprobateIfVerificationCodeExists()">Cambiar contraseña</button>
      </div>
    </mat-step>
    <!--
    <mat-step label="passwordReset" [stepControl]="getNewPasswordForm">
        <div><form [formGroup]="getNewPasswordForm">
            Ingresar Nueva Contraseña:<br>
            <input type="text" name="newPassword"><br>
            Repetir Nueva Contraseña:<br>
            <input type="text" name="repeatNewPassword">
        </form></div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
    -->
  </mat-horizontal-stepper>
</body>
      <!--
      <form [formGroup]="getEmailForm">
      Ingresar correo:<br>
      <input type="text" name="email">
        <input matInput placeholder="" formControlName="email" /> 
    <mat-dialog-actions>
      Acá cambiar el metodo continuar() por el sendMail()
        <button mat-raised-button (click)="goToResetPassword2()">Continuar</button>
      </mat-dialog-actions>
        
      <br>
    </form>
  -->
  <!--
  <a href="#/login" class="restore" onClick="backToLogin()">Volver a Login</a>
  -->
  <!--
    <a href="#/login" class="restore" onClick="backToLogin()">Volver a Login</a>
  -->