.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .form {
    width: 450px;
  }

  .header{
    background: rgba(128, 0, 0) !important;
   

  }
  .logo{
    max-width: 150px;
    min-height: 100px;
    align-content: center;
  }

  .container{
      max-width: 40%;
    
  }
