.abs-center {
    display: flex;
    justify-content: center;
    padding-top: 8%;

    
    
  }
  
  .form {
    width: 450px;
  }
  .card{
    padding: 0px;
  }

  .header{
    background: rgba(128, 0, 0) !important;
   

  }
  .logo{
    padding-top : 30px;
    max-width: 200px;
    min-height: 100px;
    align-content: center;
  }

  .container{
      max-width: 40%;
    
  }

  .container-form {
    display: flex;
    flex-direction: column;
  }
  
  .container-form > * {
    width: 100%;
  }
  .title{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: gray;
   
  }


