<div>
  <h2 mat-dialog-title>Detalles</h2>
  <hr>
  <mat-dialog-content>
      <mat-list-item> <b>ID:</b> {{data.id}} </mat-list-item>
      <mat-list-item> <b>Productor:</b> {{data.producer}} </mat-list-item>
      <mat-list-item> <b>Fecha:</b> {{data.date}} </mat-list-item>
      <mat-list-item> <b>Ubicación:</b> {{data.location}} </mat-list-item>
      <mat-list-item> <b>Total kg:</b> {{data.kg}} </mat-list-item>
      <mat-list-item> <b>Tipo envase:</b> {{data.container}} </mat-list-item>
      <mat-list-item> <b>Tipo cosecha:</b> {{data.type}} </mat-list-item>
      <mat-list-item> <b>Variedad:</b> {{data.variety}} </mat-list-item>
      <mat-list-item> <b>Calidad:</b> {{data.quality}} </mat-list-item>
      <mat-list-item> <b>Transporte:</b> {{data.transport}} </mat-list-item>
      <mat-list-item> <b>Observaciones:</b> {{data.observations}}</mat-list-item>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions >
    <button mat-raised-button (click)="onCloseCancel()">Cerrar</button>
  </mat-dialog-actions>

</div>