<div>
  <h2 mat-dialog-title>Detalles</h2>
  <hr>
  <mat-dialog-content>
      <mat-list-item> <b>ID:</b> {{data.planification_id}} </mat-list-item>
      <mat-list-item> <b>Productor:</b> {{data.ref_producer}} </mat-list-item>
      <mat-list-item> <b>Fecha:</b> {{data.date}} </mat-list-item>
      <mat-list-item> <b>Ubicación:</b> {{data.ref_location}} </mat-list-item>
      <mat-list-item> <b>Total kg:</b> {{data.kilograms}} </mat-list-item>
      <mat-list-item> <b>Tipo envase:</b> {{data.containerType}} </mat-list-item>
      <mat-list-item> <b>Tipo cosecha:</b> {{data.harvestingType}} </mat-list-item>
      <mat-list-item> <b>Variedad:</b> {{data.grapeVariety}} </mat-list-item>
      <mat-list-item> <b>Calidad:</b> {{data.quality}} </mat-list-item>
      <mat-list-item> <b>Transporte:</b> {{data.freight}} </mat-list-item>
      <mat-list-item> <b>Observaciones:</b> {{data.comment}}</mat-list-item>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions >
    <button mat-raised-button (click)="onCloseCancel()">Cerrar</button>
  </mat-dialog-actions>

</div>