<div class="list-container" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxFlex="50" align-items>
    <div fxFlex="70">
        <button mat-raised-button (click)="openAddDialog()"> 
          <mat-icon>add</mat-icon> Agregar productor
        </button>
    </div>
    <div fxFlex="30" class="container"> 
      <mat-form-field >
          <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>

    </div>

  </div>

  <div fxFlex="50">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">
  
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="rut">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> RUT </th>
          <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openUpdateDialog(element.rut)">
              <mat-icon svgIcon="edit" class="mat-18"></mat-icon>
            </button>
          </td> 
        </ng-container>
  
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Eliminar </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteProducer(element.rut)">
              <mat-icon svgIcon="delete" class="mat-18"></mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail"
                 [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
              
              <div class="locations-table">

                <div class="add-button">
                    <button mat-raised-button (click)="openAddLocationDialog(element.rut)"> 
                      <mat-icon>add</mat-icon> Agregar ubicación
                    </button>
                </div>

                <h6>Ubicaciones</h6>

                <table mat-table [dataSource]="element.locations" class="mat-elevation-z8">
                  <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef> Dirección </th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="manager">
                    <th mat-header-cell *matHeaderCellDef> Encargado </th>
                    <td mat-cell *matCellDef="let element"> {{element.manager}} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="managerPhoneNumber">
                    <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                    <td mat-cell *matCellDef="let element"> {{element.managerPhoneNumber}} </td>
                  </ng-container>

                  <ng-container matColumnDef="location-details">
                    <th mat-header-cell *matHeaderCellDef> Editar </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="primary" (click)="openLocationUpdateDialog(element.id_location, element.latitude, element.longitude)">
                        <mat-icon class="mat-18">edit</mat-icon>
                      </button>
                    </td> 
                  </ng-container>

                  <ng-container matColumnDef="location-delete">
                    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="warn" (click)="deleteLocation(element.id_location)">
                        <mat-icon class="mat-18">delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="['address', 'manager', 'managerPhoneNumber','location-details','location-delete']"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['address', 'manager', 'managerPhoneNumber','location-details','location-delete']"></tr>
                </table>
                <br>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="header-address">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Dirección</th>
          <td mat-cell *matCellDef="let element">
            <div *ngFor="let location of element.locations; index as i" class="locations-list">
                <div class="location">{{location.address}}</div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[10, 15, 20, 30, 50]" class="mat-elevation-z8">
      </mat-paginator>
    </div>
  </div>
