<title>
  Agregar Camión
</title>

<form>
  <div class="form-group">
    <label for="truckModel">Modelo</label>
    <input class="form-control" id="truckModel" placeholder="Ingrese el modelo del camión">
  </div>
  <div>
    <label for="brand">Marca</label>
    <input class="form-control" id="brand" placeholder="Ingrese la marca del camión">
  </div>
  <div class="form-group">
    <label for="year">Año</label>
    <input class="form-control" id="year" placeholder="Ingrese el año del camión">
  </div>
  <div class="form-group">
    <label for="patent">Patente</label>
    <input class="form-control" id="patent" placeholder="Ingrese la patente del camión">
  </div>
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>