<div class="list-container" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxFlex="50" align-items>
    <div fxFlex="70">
      <button *ngIf="userType == 'SysAdmin' || userType == 'Coordinador'" mat-raised-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
        Agregar planificación
      </button>
    </div>
    <div fxFlex="30" class="container">
      <mat-form-field >
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>

    </div>

  </div>
<div fxFlex="50">
  <div class="ctable">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" id="table">

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Cosecha</th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <ng-container matColumnDef="producer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Productor </th>
        <td mat-cell *matCellDef="let element"> {{element.ref_producer.name}} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicación </th>
        <td mat-cell *matCellDef="let element"> {{element.ref_location.address}} </td>
      </ng-container>

      <ng-container matColumnDef="grapeVariety">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Variedad </th>
        <td mat-cell *matCellDef="let element"> {{element.grapeVariety}} </td>
      </ng-container>

      <ng-container matColumnDef="kilograms">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Kg </th>
        <td mat-cell *matCellDef="let element"> {{element.kilograms}} </td>
      </ng-container>

      

      

      <ng-container matColumnDef="dispatch">
        <th mat-header-cell *matHeaderCellDef> Despachos </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="redirectToDispatchList(element.planification_id)">
            <mat-icon svgIcon="dispatch" class="mat-18"></mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Detalles </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openDetails(element.planification_id)">
            <mat-icon svgIcon="details" class="mat-18"></mat-icon>
          </button>
        </td>
      </ng-container>

      
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editPlanification(element.planification_id)">
            <mat-icon svgIcon="edit" class="mat-18"></mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="deletePlanification(element.planification_id)">
            <mat-icon svgIcon="delete" class="mat-18"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    <mat-paginator class="mat-elevation-z8 pag" [pageSize]="5" [pageSizeOptions]="[10, 15, 20, 30, 50]">
    </mat-paginator>
  
</div>
