<h3>
  Agregar nueva ubicación
</h3>

<hr>

<mat-dialog-content>
    <form [formGroup]="locationForm">
        <div>
          <mat-form-field appearance="standard" class="input">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="address">
            <mat-error>Debe ingresar una dirección</mat-error>
          </mat-form-field>
          
          <div class="form-div">
            <mat-form-field appearance="standard" class="input">
                <mat-label>Latitud</mat-label>
                <input matInput formControlName="latitude">
            </mat-form-field>

            <mat-form-field appearance="standard" class="input">
                <mat-label>Longitud</mat-label>
                <input matInput formControlName="longitude">
            </mat-form-field>
          </div>

          <div class="form-div">
            <mat-form-field appearance="standard" class="input">
                <mat-label>Encargado</mat-label>
                <input matInput formControlName="manager">
                <mat-error>Debe ingresar un encargado</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" class="input">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="managerPhoneNumber" placeholder="Ej: 999999999" maxlength="9">
                <mat-error>Debe ingresar un número de teléfono</mat-error>
            </mat-form-field>
          </div>

          <div class="map-content">
            <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
                <agm-marker [latitude]="locationForm.get('latitude').value" [longitude]="locationForm.get('longitude').value"></agm-marker>
            </agm-map>
        </div>
        </div>
    </form>
</mat-dialog-content>

<hr>

<div class="action-buttons">
    <div class="button-div">
        <button mat-raised-button (click)="onSubmit()">Aceptar</button>
    </div>
    
    <div class="button-div">
        <button mat-raised-button (click)="onNoClick()">Cancelar</button>
    </div>
</div>
