
<img id ="fondo" src="../../../assets/fondoProvisorio.jpg" class="fondo"/>

<div class="container p-5">
    <div class="row">
        <div class = "col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header bg-dark text-white text-center">
                    <h3>Login</h3>
                </div>
                <div class= "card-body">
                    <form action= "">
                        <div class="form-group">
                            <label>Ingrese el Email:</label>
                            <input class="form-control" type="text"  cols="30" rows="10" placeholder="correo@patacon.cl"/> 
                        </div>
                    </form>
                    <form action= "">
                            <div class="form-group">
                                <label>Ingrese contraseña:</label>
                                <input class="form-control" type="password"  cols="30" rows="10" /> 
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>