<div class="list-container" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxFlex="50" align-items>
    <div fxFlex="70">
        <button mat-raised-button (click)="openAddDialog()"> 
          <mat-icon>add</mat-icon> 
          Agregar camion
        </button>
    </div>
    <div fxFlex="30" class="container">
      <mat-form-field >
          <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>

    </div>

  </div>

  <div fxFlex="50">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        
        <ng-container matColumnDef="licencePlate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Patente </th>
            <td mat-cell *matCellDef="let element"> {{element.licencePlate}} </td>
        </ng-container>
        
        <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
            <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>

        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Modelo </th>
            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
        </ng-container>

        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Año </th>
            <td mat-cell *matCellDef="let element"> {{element.year}} </td>
        </ng-container>

       <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openUpdateDialog(element)">
              <mat-icon svgIcon="edit" class="mat-18"></mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Detalles </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openDetailsDialog(element)">
              <mat-icon class="mat-18">info</mat-icon>
          </button>
        </td>
      </ng-container>
    
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="openDeleteDialog(element)">
                  <mat-icon svgIcon="delete" class="mat-18"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" class="mat-elevation-z8">
        </mat-paginator>
    </div>
</div>

