.item{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.locations{
    margin-bottom: 10px;
}

.formulario{
    height: 100%;
}

.item-test{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.input{
    width: 100%;
    margin-top: -13px;
}

.button{
    margin-right: 5px;
}

.location-button{
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    width: 32px;
    height:32px;
}

.register-button{
    padding-left: 20px;
    padding-top: 20px;
}

.input-div{
    width:100%;
    height: 100%;
}

.action-buttons{
    display: flex;
    justify-content: flex-start;
}

.button-div{
    margin-right: 10px;
}

.table-div{
    margin: 20px;
}

table{
    width: 100%;
}