.item{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.locations{
    margin-left: 30px;
}

.item-test{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.input{
    width: 100%;
    margin-top: -13px;
}

.button{
    background-color: rgb(128, 0, 0);
}

.register-button{
    padding-left: 20px;
    padding-top: 20px;
}

.input-div{
    width:100%;
    height: 100%;
}

.action-buttons{
    display: flex;
    justify-content: flex-end;
}

.button-div{
    margin-right: 10px;
}

.table-div{
    margin: 20px;
}

table{
    width: 100%;
}