<h3>
  Registrar productor
</h3>

<hr>

<form>
  <mat-list>
      <mat-list-item class="item">
          <div class="input-div">
              <mat-form-field appearance="standard" class="input">
                  <mat-label>Nombre</mat-label>
                  <input matInput>
              </mat-form-field>
          </div>   
      </mat-list-item>

      <mat-list-item class="item">
          <div class="input-div">
              <mat-form-field appearance="standard" class="input">
                  <mat-label>RUT</mat-label>
                  <input matInput>
              </mat-form-field>
          </div>
      </mat-list-item>

      <mat-list-item class="item">
          <div class="input-div">
              <mat-form-field appearance="standard" class="input">
                  <mat-label>Encargado</mat-label>
                  <input matInput>
              </mat-form-field>
          </div>
      </mat-list-item>

      <mat-list-item class="item">
          <div class="input-div">
              <mat-form-field appearance="standard" class="input">
                  <mat-label>Ubicación</mat-label>
                  <input matInput>
              </mat-form-field>
          </div>
      </mat-list-item>

      <mat-list-item class="item">
        <div class="input-div">
            <mat-form-field appearance="standard" class="input">
                <mat-label>Teléfono</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </mat-list-item>

      <mat-list-item class="action-buttons">
          <div class="button-div">
              <button mat-raised-button color="primary" class="button">Registrar</button>
          </div>

          <div class="button-div">
              <button mat-raised-button color="primary" class="button" (click)="onNoClick()">Cancelar</button>
          </div>
      </mat-list-item>
  </mat-list>
</form>
