<h3>
  Registrar productor
</h3>

<hr />

<mat-dialog-content class="formulario">
    <form [formGroup]="producerForm">
        <div>
            <div>
                <mat-form-field appearance="standard" class="input">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" maxlength="30">
                    <mat-error *ngIf="hasError('name', 'required')">Debe ingresar el nombre</mat-error>
                </mat-form-field>
            </div>
    
            <div>
                <mat-form-field appearance="standard" class="input">
                    <mat-label>RUT</mat-label>
                    <input matInput formControlName="rut" (input)="checkRun()" maxlength="10">
                    <mat-error *ngIf="hasError('rut', 'required')">Debe ingresar el rut</mat-error>
                    <mat-error *ngIf="hasError('rut', 'pattern')">Debe ingresar un rut válido</mat-error>
                    <mat-error *ngIf="hasError('rut', 'verificator')">El digito verificador no corresponde al run ingresado</mat-error>

                </mat-form-field>
            </div>
            
            <br>

            <h5>
                Ubicaciones
            </h5>

            <div formArrayName="locations" *ngFor="let location of producerForm.get('locations')['controls']; let i = index">
                <mat-expansion-panel formGroupName="{{i}}" class="locations" [expanded]="location.value.expanded">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Ubicación {{i+1}}
                      </mat-panel-title>
                      <mat-panel-description>
                        Ingrese los datos de la nueva ubicación.
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  
                    <mat-form-field appearance="standard" class="input">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="address">
                    </mat-form-field>
        
                    <mat-form-field appearance="standard" class="input">
                        <mat-label>Latitud</mat-label>
                        <input matInput formControlName="latitude">
                    </mat-form-field>
        
                    <mat-form-field appearance="standard" class="input">
                        <mat-label>Longitud</mat-label>
                        <input matInput formControlName="longitude">
                    </mat-form-field>
        
                    <mat-form-field appearance="standard" class="input">
                        <mat-label>Encargado</mat-label>
                        <input matInput formControlName="manager">
                    </mat-form-field>
        
                    <mat-form-field appearance="standard" class="input">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="managerPhoneNumber">
                    </mat-form-field>
                  
                  </mat-expansion-panel>
            </div>

            <div class="button-div">
                <button mat-raised-button class="location-button" (click)="addLocation()">+</button>
                <button mat-raised-button class="location-button" (click)="deleteLocation()">-</button>
            </div>

        </div>
    </form>
</mat-dialog-content>

<hr>

<div class="action-buttons">
    <div class="button-div">
        <button mat-raised-button class="button" (click)="onSubmit()">Registrar</button>
    </div>
    
    <div class="button-div">
        <button mat-raised-button class="button" (click)="onNoClick()">Cancelar</button>
    </div>
</div>

