<mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav #sidenav [mode]="'side'"[position]="'end'" [opened]="'true'">
          <div class="title"><b>Rutas</b></div>
          <div>
            <button mat-raised-button>Agregar Ruta</button>
          </div>
          <div class="routesList">
            <mat-expansion-panel class="expansion">
              <mat-expansion-panel-header class="expansion-title">
                <mat-panel-title>
                  Viña Faundez SA
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="expansion-content">
                  <mat-nav-list>
                      <mat-list-item>
                          <div fxLayout="row" class="item" (click)="clickItem()">
                              <div fxFlex="70" class="nameLocation">
                              Molina 
                              </div>
                              <div fxFlex="30" class="actions">
                                  <button mat-icon-button color="primary" (click)="clickEdit($event)">
                                      <mat-icon class="mat-18">edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="clickDelete($event)">
                                      <mat-icon class="mat-18">delete</mat-icon>
                                    </button>
                              </div>
                        </div>
                      </mat-list-item>
                    </mat-nav-list>

              </div>
              </mat-expansion-panel>
          </div>

        <div id="total"></div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="floating-panel">
      <b>Inicio: </b>
      <select id="start" [(ngModel)]="selectedValue" (ngModelChange)="selectChange($event)">
        <option *ngFor="let item of startSelect" [value] = item.location>{{item.name}}</option>
        <!-- <option value="Unnamed Road, Peumo, Región del Libertador Gral. Bernardo O’Higgins">Inversiones El Cortijo</option>
        <option value="Unnamed Road, Peumo, Región del Libertador Gral. Bernardo O’Higgins">AGR. Y FRUT. LA ESPERANZA</option>
        <option value="-34.6508629, -71.3846474">AGR. SAN EDUARDO</option>
        <option value="Unnamed Road, Santa Cruz, Región del Libertador Gral. Bernardo O’Higgins">AGR. Santa Elvira  (Chapeta Correa) Tintorera</option>
        <option value="I-742, Santa Cruz, Región del Libertador Gral. Bernardo O’Higgins">AGR. LA PATAGUILLA  (Chapeta Correa)</option> -->
      </select>
      <b>Termino: </b>
      <select id="end">
        <option [value]="endSelect.location">{{endSelect.name}}</option>
      </select>
      </div>

        <div class="map-content"> 
          
          <mat-button-toggle class="sidenav-button" mat-button 
          (click)="sidenav.toggle(); state = !state">
          <mat-icon>keyboard_arrow_{{direction}}</mat-icon>
        </mat-button-toggle>
          <agm-map [latitude]="center.latitude" [longitude]="center.longitude" (mapReady)="onMapReady($event)">         
          </agm-map>
         
        </div>
        
    
  </mat-sidenav-content>
</mat-sidenav-container>
