<div>
    <mat-form-field>
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filtrar">
    </mat-form-field>
</div>

<div class="filter-table-container">
    <table mat-table class="custom-mat-table" [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
            <th mat-header-cell class="custom-mat-header" *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>

            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation();" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>

            </td>
        </ng-container>

        <ng-container matColumnDef="truck">
            <th mat-header-cell class="custom-mat-header" *matHeaderCellDef mat-sort-header> Patente </th>
            <td mat-cell *matCellDef="let element"> {{ element.truckLicensePlate}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
            <th mat-header-cell class="custom-mat-header" *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.dispatchStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="destination">
            <th mat-header-cell class="custom-mat-header" *matHeaderCellDef mat-sort-header> Destino </th>
            <td mat-cell *matCellDef="let element"> {{element.producerName + ' ' + element.producerLocation}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell class="custom-mat-header" *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <button [disabled]="isDispatchTerminated(element)" (click)="$event.stopPropagation();" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
    
                <button mat-menu-item *ngIf="!isDispatchTerminated(element)" (click)="sendSMS(element.dispatchId);">
                  <mat-icon svgIcon="sendSMS"></mat-icon>
                  <span>Notificar productor</span>
                </button>
    
                <button mat-menu-item *ngIf="element.dispatchStatus.localeCompare('Pendiente') == 0" (click)="startDispatch(dispatchId)">
                  <mat-icon svgIcon="startDispatch"></mat-icon>
                  <span>Comenzar despacho</span>
                </button>
    
                <button mat-menu-item *ngIf="!isDispatchTerminated(element)" (click)="cancelDispatch(dispatchId)">
                  <mat-icon svgIcon="cancelDispatch"></mat-icon>
                  <span>Cancelar despacho</span>
                </button>
    
                <button mat-menu-item *ngIf="element.dispatchStatus.localeCompare('En patio') == 0" (click)="terminateDispatch(dispatchId)">
                  <mat-icon svgIcon="terminateDispatch"></mat-icon>
                  <span>Terminar despacho</span>
                </button>
    
    
                
              </mat-menu>
            </td>
          </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    </table>
</div>