<div>
    <h2 mat-dialog-title>Agregar Camión</h2>
    <hr>
    <mat-dialog-content>
      <form [formGroup]="addTruckForm">
        <div class="container">
          <mat-form-field appearance="standard">
            <mat-label>Patente</mat-label>

            <input
              matInput
              placeholder=""
              formControlName="licencePlate"
              [value] = "input.value.toUpperCase()"
              #input
            />
            <mat-error *ngIf="hasError('licencePlate', 'required')">Debe ingresar la patente</mat-error>

            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
  
        <div class="container">
          <mat-form-field appearance="standard">
            <mat-label>Marca</mat-label>
            <input matInput placeholder="" formControlName="brand" />
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
  
        <div class="container">
          <mat-form-field appearance="standard">
            <mat-label>Model</mat-label>
            <input matInput placeholder="" formControlName="model" />
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
  
        <div class="container">
          <mat-form-field appearance="standard">
            <mat-label>Año</mat-label>
            <input matInput placeholder="" formControlName="year"/>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
  
        <div class="container">
          <mat-form-field appearance="standard">
            <mat-label>Carga Máxima</mat-label>
            <input matInput placeholder="" formControlName="maxLoad"/>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
        <div class="container">
          <mat-form-field appearance="standard">
            <mat-label>Dueño</mat-label>
            <input matInput placeholder="" formControlName="owner"/>
            <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="container">
          <mat-form-field appearance="standard">
            <mat-label>Color</mat-label>
            <input matInput placeholder="" formControlName="color"/>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
      </form>
    </mat-dialog-content>
    <hr />
    <mat-dialog-actions>
      <button mat-raised-button (click)="onFormSubmit()"[disabled]="addTruckForm.invalid">Agregar</button>
      <button mat-raised-button (click)="onCloseCancel()">Cancelar</button>
    </mat-dialog-actions>
</div>