.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: rgb(128, 0, 0);
  height: 110px;
}
.mat-toolbar-row {
  height: 70%;
}
.logo {
  padding-top: 10px;
}
.toolbar-2 {
  background-color: rgb(100, 0, 0);
  height: 30%;
  margin: auto;
}

